<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>day63task 할일 목록</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/day63task/todoList.css'>
</head>
<body>
<div class="wrap">
    <h1 class="title">나만의 할일 목록</h1>
    <div class="todoTop">
        <input class="contInput" type="text">
        <button onclick="todoWrite()" class="addBtn">등록</button>
    </div>
    <div class="todoBottom">
        <!-- 본문 구역 -->
    </div>
</div>
<script src='/day63task/todoList.js'></script>
</body>
</html>
